HOST=0.0.0.0 #best for pterodactyl
PORT=
CLOUDFLARE_TUNNEL=false
CLOUDFLARE_TUNNEL_TOKEN= #get your own token for custom domain
FORCE_BUILD=false #rebuild everytime you start even if build already exist
